html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/*
 *  Global styles
 */

/* Modal's back to disable the webpage */
.modal_back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #00000099;
    width: 100%;
    height: 100%;
}

/* Show the element */
.visible {
    visibility: visible;
}

/* Hide the element */
.hide {
    visibility: hidden;
}

/*
 *  Tooltip styles
 */

/* Tooltip triggerer */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip content */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #55555500;
    color: #00000000;
    transform: scale(0.99, 0.95);
    box-shadow: none;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    bottom: 90%;
    width: 80px;
    left: 50%;
    margin-left: -40px;
    transition: all 0.3s;
}

/* Tooltip hover effect to show the tooltip */
.tooltip:hover .tooltiptext {
    visibility: visible;
    transform: scale(1, 1);
    background-color: #555;
    color: white;
    box-shadow: 2px 1px 10px 0 #333;
    bottom: 120%;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: all 500ms;
}

/* Opened card's style */
.deck .card.open {
    cursor: default;
    transform: rotateY(0);
    background: #02b3e4;
    font-size: 33px;
}

/* Closed card's style */
.deck .card.close {
    transform: rotateY(180);
    font-size: 0;
}

/* Matched card's style */
.deck .card.match {
    cursor: default;
    transform: rotateY(0);
    background: #02ccba;
    font-size: 33px;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


/**
 *  SUCCESS MODAL
 */

.modal--success {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.modal_header {
    display: flex;
    justify-content: center;
}

.modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal_hr {
    height: 1px;
    width: 100%;
    border: 1px solid #0000002a;
}

.modal_body {
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success_restart {
    margin: 4px;
    padding: 8px;
    cursor: pointer;
    border-radius: 100px;
    transition: color 0.5s, background 0.5s;
}

.success_restart:hover {
    color: white;
    background: #00a1f2;
}